* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, main {
    height: 100%;
}

body {
    line-height: 1.5;
    font-family: sans-serif;
    background-color: #F5F7FB;
    color: #293264;
    font-family: "Karla", sans-serif;
}

main {
    padding: 75px;
}

main, .start-game {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blob1 {
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
}

.blob2 {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.start-page {
    text-align: center;
}

.start-page > h1 {
    font-size: 31.25px;
    margin-bottom: 7px;
}

.start-page > h2 {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

.start-page > button, .game-page-btn {
    color: #F5F7FB;
    background-color: #4D5B9E;
    border: none;
    cursor: pointer;
}

.start-page > button {
    border-radius: 15px;
    padding: 16px 30px;
    font-size: 16px;

}

.game-page > button {
    margin: 15px auto;
}

.game-page-btn {
    font-size: 14px;
    padding: 11px 22px;
    border-radius: 12px;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

button, input, textarea, select {
    font-family: "Inter", sans-serif;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.game-page {
    display: flex;
    flex-direction: column;
    max-width: 700px;
}

.question {
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding-bottom: 14px;
    margin-bottom: 14px;
    border-bottom: 1px #DBDEF0 solid;
}

.question > div {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

label > input[type="radio"] {
    display: none;
}

label > span {
    cursor: pointer;
    padding: 4px 12px;
    border: 1px #4D5B9E solid;
    border-radius: 8px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    white-space: nowrap;
}

input[type="radio"]:checked + span{
    background-color: #D6DBF5;
    border: 1px #D6DBF5 solid;
}

.not-selected, .wrong {
    opacity: 50%;
}

.correct {
    background-color: #94D7A2;
    border: 1px #94D7A2 solid;
}

.wrong {
    background-color: #F8BCBC;
    border: 1px #F8BCBC solid;
}

.game-page > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.game-page > div > span {
    font-weight: 700;
    font-size: 16px;
}